/*styles for final-project*/

#content {
    max-width: 900px;
    margin: 0 auto;
}

/*masthead*/
#masthead {
    width: 100%;
}

/*navbar*/
.navbar {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
    color: white;
}

/*lead image*/
#lead-image-container {
    width: 100%;
}

#lead-image{
    width: 100%;
}

.caption {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    padding: 6px 0;
}

/*heads*/
h1 {
    font-family: Garamond, Times, serif;
    font-size: 42px;
    font-weight: 600;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

#byline {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

/*pullquote*/
blockquote {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 25px 100px 20px;
    color: #274472;
}

span {
    font-size: 14px;
    font-weight: 100;
}

/*images*/
#image-container {
    width: 100%;
}

#image {
    width: 100%;
}

#image2-container {
    width: 30%;
}

#image2 {
    width: 30%;
}
    
.caption2 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    width: 50%;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.caption3 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

/*body*/   
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 3px 50px 0;
}

/*read more section*/   
.read-more-box {
    background-color: aliceblue;
    padding: 20px 0px;
    position: relative;
    text-align: left;
    width: 100%;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 10px 50px auto;
}

li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 150%;
    margin: 0 50px auto;
}

