/*styles for final-project*/

#content {
    max-width: 900px;
    margin: 0 auto;
}

/*masthead*/
#masthead {
    width: 100%;
}

/*navbar*/
.navbar {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
    color: white;
}

/*lead image*/
#lead-image-container {
    width: 100%;
}

#lead-image{
    width: 100%;
}

.caption {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    padding: 6px 0;
}

/*heads*/
h1 {
    font-family: Garamond, Times, serif;
    font-size: 40px;
    font-weight: 600;
    margin: 0 auto 20px auto;
    padding: 10px 50px 0;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto 20px auto;
    padding: 10px 50px 0;
}

#byline {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 50px 0;
}

/*pullquote*/
blockquote {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin: 25px 100px 20px;
    color: #40786f;
}

span {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.2;
}

/*images*/
#image-container {
    width: 100%;
}

#image {
    width: 100%;
}

#image2-container {
    width: 30%;
}

#image2 {
    width: 30%;
}
    
.caption2 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    width: 50%;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.caption3 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

/*body*/   
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 3px 50px 0;
}

.flourish-embed {
    padding: 3px 50px 0;
}

#datawrapper-chart-4ebNW {
    padding: 3px 50px 0;
}
