/*styles for my resume*/
body {
    font-family: "Open Sans", Arial;
    font-size: 1em;
    color: #444;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 0px 0px 50px;
}
/*banner name at top*/
h1 {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;   
}

#name {
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/*job title*/
h3 {
    font-size: 1.5em;
    color: #33485e;
    font-weight: 600;  
}

#title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 0 0;
}

/*experience education skills*/
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background: #33485e;
    color: #fff;
    font-weight: 400;
}

.sectionheader {
    margin: 20px 0 10px 0;
    padding: 5px 0 5px 10px;
    width: 100%;
    min-width: 300px;
}

/*job organization*/
h4 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
}

.organization {
    font-size: 1.2em;
}

/*dates*/
h5 {
    font-weight: 700;
    font-size: 1em;
}

.date {
    margin: 2px 0;
}

.description {
    margin: 10px 0;
}

/*lists*/
ul {
    font-size: 1em;
}

.menu {
    margin: 10px 0 20px 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline;
    padding: 0 20px;
}

#degrees {
    margin: 5px 0 0 0;
}

#do {
    margin: 5px 0 0 0;
}

#headshot {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #33485e;
}

#headshot-container {
    text-align: center;
}

.a:link {
    font-weight: 600;
    font color: #0bc5f4;
}

.a:hover {
    color: #33485e;
}

.a:visited: {
    color: #6e38c7;
}