/*styles for my resume*/
body {
    font-family: "Open Sans", Arial, system-ui;
    font-size: 1em;
    color: #444;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 50px 0;
}
/*banner name at top*/
#name {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/*current job title*/
#title {
    font-size: 1.5em;
    color: #33485e;
    font-weight: 600; 
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 0 0;
}
/*experience education skills*/
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background: #33485e;
    color: #fff;
    font-weight: 400;
    margin: 20px 0 10px 0;
    padding: 5px 0 5px 10px;
    width: 100%;
    min-width: 300px;
}
/*job title*/
.jobtitle {
    font-size: 1.5em;
    color: #33485e;
    font-weight: 600; 
    text-align: left;
}

/*job organization*/
.organization {
    font-weight: 400;
    font-style: italic;
    font-size: 1.2em;
}

/*dates*/
.dates {
    font-weight: 700;
    font-size: 1em;
    margin: 2px 0;
}

.description {
    margin: 10px 0;
}

/*lists*/
ul {
    font-size: 1em;
}

.menu {
    margin: 10px 0 20px 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline;
    padding: 0 20px;
}

#degrees {
    margin: 5px 0 0 0;
}

#do {
    margin: 5px 0 0 0;
}

#headshot {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #33485e;
}

#headshot-container {
    text-align: center;
}

a:link {
    font-weight: 600;
    font color: #0bc5f4;
}

a:hover {
    color: #33485e;
}

a:visited: {
    color: #6e38c7;
}