/*styles for midterm-review*/
body {
    
}

#container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
}

/*masthead*/
#masthead {
    width: 100%;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    padding: 0 30px 0;
}

h2 {
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 150%;
    font-style: italic;
    margin: 0 auto 20px auto;
    padding: 30px;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    padding: 0 30px 0;
}

#lead image {
    width: 1920px;
    padding: 20px;
}

#caption {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    color: gray;
}

p {
    font-family: Georgia, serif;
    font-size: 13 px;
}